@import '../../variables';

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list {
  margin: 0 auto;
  max-width: $containerWidth;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

hr {
  margin: 40px auto;
  max-width: $containerWidth;
}

.pagination {
  margin: 0 auto;
  max-width: $containerWidth;
  display: flex;
  gap: 20px;
}